.featuredall-wrapper-table img {
    max-width: 80px;
    height: auto;
}

.wrap table.widefat .column-primary strong {
    font-weight: 600;
}

.wrap table.widefat td,
.wrap table.widefat th {
    vertical-align: middle;
}
